     h1{ 
   color:red;
            }
            h2{
        color:crimson;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border:none;
            }
                    pre 
                    {
                        border-style: hidden;
background: border-box #dddddd;
font-size: large;
width:77%;
  }
 
                    img 
                    {
height:130;
width:140;
float:left;
                    }
                table {
                  font-family: arial, sans-serif;
                  border-collapse: collapse;
                  width: 77%;
                }
                
                td, th {
                  border: 1px solid #dddddd;
                  text-align: left;
                  padding: 6px;
                }
                
                tr:nth-child(even) {
                  background-color: #dddddd;
                }
