h2{ 
    color:green;
             }
                     pre 
                     {
                         border-style: hidden;
 background: border-box #fffefe;
 font-size: large;
 width:77%;
   }
                     img 
                     {
 height:140;
 width:130;
 float:left;
                     }
                 table {
                   font-family: arial, sans-serif;
                   border-collapse: collapse;
                   width: 77%;
                 }
                 
                 td, th {
                   border: 1px solid #51a011;
                   text-align: left;
                   padding: 6px;
                 }
                 
                 tr:nth-child(even) {
                   background-color: #51a011;
                 }