h1{ 
    color:lightcoral;
             }
        h3{
         color:crimson;
         font-family: Georgia, 'Times New Roman', Times, serif;
         border:none;
             }
pre 
{
border-style: hidden;
 background: border-box #dddddd;
 font-size: large;
 width:83%;
   }
  
                     img 
                     {
 height:130;
 width:140;
 float:left;
                         
                     }
                 table#tablerubin {
                   font-family: arial, sans-serif;
                   width: 83%;
                   border: 1px  grey;
                   text-align: center;
                   padding: 6px;
                 }
                 
                 tr:nth-child(even) {
                   background-color: #dddddd;
                 }